.nav{
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-between;
    height: 50px;
    font-size: 25px;
    background-color: aquamarine;
    padding: 20px;
    /* border: 1px solid red;    */
}